{"openapi":"3.1.0","info":{"title":"Logi Composer Rest API","description":"The Composer REST API provides methods for retrieving, updating, and deleting Composer metadata. With the API endpoints, you can manage connections, data sources, accounts, groups, and users quickly and easily.","contact":{"name":"Logi Support","url":"https://help.insightsoftware.com","email":"logisupport@insightsoftware.com"},"version":"1.0"},"servers":[{"url":"https://simba.logisymphony.com/composer","description":"Generated server url"}],"security":[{"basicAuth":[]}],"tags":[{"name":"filter-sets","description":"Filter Visualizations Data"},{"name":"sources / unique-key","description":"Manages sources unique key"},{"name":"visuals / migration","description":"New Visuals Migration API"},{"name":"uploads","description":"Manage Uploads"},{"name":"dashboard-conversion","description":"(experimental) Convert dashboards layout"},{"name":"joins","description":"Manage joins metadata and suggestions"},{"name":"recentlyAccessed","description":"Recently Accessed Elements"},{"name":"connections","description":"Manage Source Connections"},{"name":"connectors","description":"Manage Connectors"},{"name":"groups","description":"Manage User Groups"},{"name":"sources / global-settings","description":"Manages sources global settings"},{"name":"odata","description":"(experimental) Source Data Retrieval OData service"},{"name":"frontend / environment variables","description":"Get environment variables for frontend"},{"name":"dashboard-sharing","description":"(experimental) Manage dashboard access level"},{"name":"visual-types","description":"Manage Visual Types"},{"name":"tags","description":"Manage tags"},{"name":"sources / fields","description":"Manage Source Fields"},{"name":"timezones","description":"Timezone Information"},{"name":"favorites","description":"Favorite Items"},{"name":"calendars","description":"(experimental) Manage calendars"},{"name":"trusted-access-token","description":"Manage Trusted Access tokens"},{"name":"version","description":"System version"},{"name":"customization","description":"Manage customization configuration"},{"name":"snippets","description":"(experimental) Manage snippets"},{"name":"comments","description":"Dashboard comments"},{"name":"trusted-access-session","description":"Manage user sessions via Trusted Access"},{"name":"materialized-view","description":"(deprecated since 23.1) Manage Materialized Views"},{"name":"dashboard-migration","description":"New Dashboards Migration API"},{"name":"user","description":"Manage User"},{"name":"jobs","description":"List of available scheduler jobs"},{"name":"security","description":"Retrieve all sids info"},{"name":"dashboards","description":"Manage Dashboards"},{"name":"keyset","description":"Manage keysets"},{"name":"activity","description":"Manages Activity Logging"},{"name":"dashboard-reports","description":"Manage Dashboard Reports"},{"name":"locale, currency, language","description":"Locale, currency, and language info"},{"name":"sources / security","description":"Manage Sources Security"},{"name":"global","description":"Manage global security configuration"},{"name":"sources / dictionaries","description":"Manage Source Dictionaries"},{"name":"accounts / admins","description":"Manage Account Administrators"},{"name":"self-service-reports","description":"Self Service Reports"},{"name":"trusted-access-client","description":"Manage Trusted Access clients"},{"name":"branding-extentions","description":"Manage branding extensions (chart colors, etc.)"},{"name":"connection-types","description":"Manage Connection Types"},{"name":"sources / security / fields","description":"Manage Sources Fields Security"},{"name":"quota","description":"Manage Quotas"},{"name":"sources / custom-metrics","description":"Manage Source Custom Metrics"},{"name":"topics","description":"Manage topics"},{"name":"register","description":"User registration"},{"name":"group-membership","description":"Manages Group Membership"},{"name":"sources / raw data","description":"(experimental) Get source raw data"},{"name":"sources / visual-types","description":"Manages source visual types"},{"name":"accounts","description":"Manage Accounts"},{"name":"branding","description":"Manage branding configuration"},{"name":"export","description":"Export Source Data"},{"name":"accounts / users","description":"Manage Account Users"},{"name":"inventory","description":"Manage Composer Items"},{"name":"permissions","description":"Manage Permissions"},{"name":"interactivity","description":"Dashboard interactivity"},{"name":"sources","description":"Manage Sources"},{"name":"users","description":"Manage Users"},{"name":"sources / cache-settings","description":"Manages sources cache settings"},{"name":"sources / security / custom metrics","description":"(experimental) Manage Sources Custom Metric Security"},{"name":"users segregation","description":"Segregate users into tenants"},{"name":"sources / preview and describe","description":"Source preview and describe"},{"name":"sources / security / row","description":"Manage Sources Row Security"},{"name":"account-attributes","description":"Reserved Account attributes configuration"},{"name":"sources / migration","description":"Source Migration API"},{"name":"toggle","description":"Toggle Features"},{"name":"license","description":"Manage Composer License"},{"name":"stream","description":"Search stream sources"},{"name":"alerts","description":"Manage Alerts"},{"name":"start-vis","description":"(experimental) Execute start-vis or meta request"}],"paths":{"/api/visuals/{id}":{"get":{"tags":["visuals"],"summary":"Retrieve a visual (requires READ permission to the visual)","description":"Returns a visual specified by id","operationId":"get","parameters":[{"name":"id","in":"path","description":"Defines a visual identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The visual was retrieved successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}}},"404":{"description":"The visual was not found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}}}}},"put":{"tags":["visuals"],"summary":"Updates a visual (requires WRITE permission to the visual) or creates a new visual with custom id (requires the ROLE_CREATE_VISUALS privilege)","operationId":"update","parameters":[{"name":"id","in":"path","description":"Defines a visual identifier","required":true,"schema":{"type":"string"}},{"name":"suppressWarnings","in":"query","description":"The response to this API endpoint may return a validation error with a list of problems. Each problem has a level (ERROR, WARNING). Passing suppressWarnings=true will suppress all warnings and the request will succeed if there are no errors","required":false,"schema":{"type":"boolean","default":false}},{"name":"warningTags","in":"query","description":"If suppressWarning is true, then warning tags can be passed in this field. Any top level element(SOURCE/VISUAL/DASHBOARD) that may be impacted due to any WARNING will get these warning tags attached to them.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}},"required":true},"responses":{"200":{"description":"The visual was updated successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}}},"201":{"description":"The visual was created successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}}},"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}}},"404":{"description":"The visual or the source of visual was not found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualResource"}}}}}},"delete":{"tags":["visuals"],"summary":"Deletes a visual (requires DELETE permission to the visual)","operationId":"delete","parameters":[{"name":"id","in":"path","description":"Defines a visual identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The visual was deleted successfully"},"400":{"description":"The visual is used by at least one dashboard"},"401":{"description":"The user must be logged in"},"403":{"description":"The user doesn't have privilege to do the operation"},"404":{"description":"The visual was not found"}}}},"/api/visuals/{id}/acls/bulk":{"put":{"tags":["permissions"],"summary":"Assign permissions on the visual to a list of Security Identities (groups, users, account)","operationId":"setPermissionsOnVisual","parameters":[{"name":"id","in":"path","description":"Visual identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","description":"List of the permissions to be assigned","items":{"$ref":"#/components/schemas/PutAclPermissionRequest"}}}},"required":true},"responses":{"200":{"description":"The permissions were assigned successfully"},"400":{"description":"Request is invalid"},"401":{"description":"The user must be logged in"},"403":{"description":"The user doesn't have privilege to do the operation"},"404":{"description":"Visual wasn't found"}}},"patch":{"tags":["permissions"],"summary":"Grant/revoke permissions on the visual to/from a list of Security Identities (groups, users, account)","operationId":"updatePermissionsOnVisual","parameters":[{"name":"id","in":"path","description":"Visual identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","description":"List of the permissions to be granted/revoked","items":{"$ref":"#/components/schemas/PatchAclPermissionRequest"}}}},"required":true},"responses":{"200":{"description":"The permissions were assigned successfully"},"400":{"description":"Request is invalid"},"401":{"description":"The user must be logged in"},"403":{"description":"The user doesn't have privilege to do the operation"},"404":{"description":"Visual wasn't found"}}}},"/api/visual-types/{id}":{"get":{"tags":["visual-types"],"summary":"Get Visual Type by id","operationId":"getVisualType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"componentBody","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualType"}}}}}},"put":{"tags":["visual-types"],"summary":"Update Visual Type","operationId":"updateVis","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/VisualType"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["visual-types"],"summary":"Delete Visual Type","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/users/{id}":{"get":{"tags":["users"],"summary":"Load user","operationId":"getUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/UserResource"}}}}}},"put":{"tags":["users"],"summary":"Update user","description":"Supervisor authority or role Administer Users is required to access this endpoint","operationId":"updateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/UserResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/UserResource"}}}}}},"delete":{"tags":["users"],"summary":"Delete user","description":"Supervisor authority or role Administer Users is required to access this endpoint","operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/users/permissions/{sid}":{"get":{"tags":["users segregation"],"summary":"Get the conditions for user segregation in the account","operationId":"get_1","parameters":[{"name":"sid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/PermissionOnConditionResponse"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"Permissions was not found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["users segregation"],"summary":"Update the conditions for user segregation in the account","operationId":"update_1","parameters":[{"name":"sid","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/PermissionOnConditionRequest"}}},"required":true},"responses":{"200":{"description":"The permissions on condition were updated","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/PermissionOnConditionResponse"}}}},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"Permissions was not found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"501":{"description":"Operation is not supported","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["users segregation"],"summary":"Delete the conditions for user segregation in the account","operationId":"delete_3","parameters":[{"name":"sid","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"Permissions was not found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"204":{"description":"No Content"}}}},"/api/uploads/{id}":{"get":{"tags":["uploads"],"summary":"Returns an upload by id","description":"Requires READ permission to the upload","operationId":"read","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The upload was retrieved successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/UploadResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/UploadResource"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The upload wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["uploads"],"summary":"Updates uploads","description":"Requires MANAGE_CONNECTIONS or MANAGE_FILE_UPLOADS role","operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadUpdateResource"}}},"required":true},"responses":{"200":{"description":"The upload was retrieved successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/UploadResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/UploadResource"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The upload wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["uploads"],"summary":"Deletes an upload","description":"Requires MANAGE_CONNECTIONS or MANAGE_FILE_UPLOADS role","operationId":"delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The upload was deleted successfully"},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The upload wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/uploads/{id}/data":{"put":{"tags":["uploads"],"summary":"Replaces upload data","description":"Requires MANAGE_CONNECTIONS or MANAGE_FILE_UPLOADS role","operationId":"replaceData","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"fileData":{"type":"string","format":"binary"},"uploadRequest":{"$ref":"#/components/schemas/UploadInfoRequest"}},"required":["fileData"]}},"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/UploadResource"}}},"required":true},"responses":{"200":{"description":"The upload data was replaced successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/LoadingResult"}}}},"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The upload wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"post":{"tags":["uploads"],"summary":"Appends data to the upload","description":"Requires MANAGE_CONNECTIONS or MANAGE_FILE_UPLOADS role","operationId":"appendData","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"fileData":{"type":"string","format":"binary"},"uploadRequest":{"$ref":"#/components/schemas/UploadInfoRequest"}},"required":["fileData"]}},"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/UploadResource"}}},"required":true},"responses":{"200":{"description":"The data was appended successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/LoadingResult"}}}},"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The upload wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["uploads"],"summary":"Deletes upload data","description":"Requires MANAGE_CONNECTIONS or MANAGE_FILE_UPLOADS role","operationId":"clearData","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The upload data was deleted successfully"},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The upload wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/toggles/{prefix}/{key}":{"get":{"tags":["toggle"],"summary":"Get variable by prefix and key","operationId":"getByPrefixAndKey","parameters":[{"name":"prefix","in":"path","required":true,"schema":{"type":"string"}},{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"put":{"tags":["toggle"],"summary":"Set variable by prefix and key","description":"Supervisor authority is required to access this endpoint","operationId":"setByPrefixAndKey","parameters":[{"name":"prefix","in":"path","required":true,"schema":{"type":"string"}},{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"text/plain":{"schema":{"type":"string"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["toggle"],"summary":"Delete variable by prefix and key","description":"Supervisor authority is required to access this endpoint","operationId":"deleteByPrefixAndKey","parameters":[{"name":"prefix","in":"path","required":true,"schema":{"type":"string"}},{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/system/activity/type/{activityType}":{"get":{"tags":["activity"],"summary":"Get the toggle status of a specific activity type","description":"Supervisor authority is required to access this endpoint","operationId":"getActivityLoggingSettings","parameters":[{"name":"activityType","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"type":"object","additionalProperties":{"type":"boolean"}}}}}},"deprecated":true},"put":{"tags":["activity"],"summary":"Update an activity type to toggle its logging","description":"Supervisor authority is required to access this endpoint","operationId":"updateActivityLoggingSettings","parameters":[{"name":"activityType","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"string"}}},"required":true},"responses":{"204":{"description":"No Content"}},"deprecated":true}},"/api/sources/{sourceId}":{"get":{"tags":["sources"],"summary":"Returns a data source by id","description":"Requires READ permission on the source","operationId":"findById","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"The data source was returned successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceResource"}}}},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["sources"],"summary":"Updates or creates a source","description":"Requires WRITE permission on the source for updating and CREATE_SOURCES privilege for creation","operationId":"createOrUpdate","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"suppressWarnings","in":"query","description":"The response to this API endpoint may return a validation error with a list of problems. Each problem has a level (ERROR, WARNING). Passing suppressWarnings=true will suppress all warnings and the request will succeed if there are no errors","required":false,"schema":{"type":"boolean","default":false}},{"name":"warningTags","in":"query","description":"If suppressWarning is true, then warning tags can be passed in this field. Any top level element(SOURCE/VISUAL/DASHBOARD) that may be impacted due to any WARNING will get these warning tags attached to them.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceResource"}}},"required":true},"responses":{"200":{"description":"The source was updated","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceResource"}}}},"201":{"description":"The source was created","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"Connection or upload wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceResource"}}}}}},"delete":{"tags":["sources"],"summary":"Deletes a source","description":"Requires DELETE permission on the source","operationId":"delete_5","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"409":{"description":"Source is used by 1 or more dashboards, 1 or more visuals, or 1 or more keysets","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"204":{"description":"No Content"}}}},"/api/sources/{sourceId}/visual-types":{"get":{"tags":["sources / visual-types"],"summary":"Returns visual types for the data source","description":"Requires READ or DATA_ACCESS permission on the source","operationId":"listVisualTypesForSource","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"maxResults","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0,"minimum":0}},{"name":"pageToken","in":"query","required":false,"schema":{"type":"string"}},{"name":"includeDisabled","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"includeRestriction","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Visual types were returned successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/PageResourceSourceVisualTypeResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["sources / visual-types"],"summary":"Updates source visual types","description":"Requires WRITE permission on the source","operationId":"update_3","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SourceVisualTypeResource"}}}},"required":true},"responses":{"200":{"description":"Source visual types were updated successfully","content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SourceVisualTypeResource"}}}}},"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source or visual type wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/sources/{sourceId}/unique-key":{"get":{"tags":["sources / unique-key"],"summary":"Returns unique key for the data source","description":"Requires READ permission on the source","operationId":"getUniqueKey","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The unique key was returned successfully","content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","items":{"type":"string"}}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["sources / unique-key"],"summary":"Updates unique key for the data source","description":"Requires WRITE permission on the source","operationId":"updateUniqueKey","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","description":"a fields array to make up a unique key for the source","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"The unique key was updated successfully","content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/sources/{sourceId}/security":{"get":{"tags":["sources / security"],"summary":"(experimental) Returns source security settings","operationId":"getSourceSecuritySettings","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceSecuritySettingsResource"}}}}}},"put":{"tags":["sources / security"],"summary":"(experimental) Updates source security settings","operationId":"updateSourceSecuritySettings","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceSecuritySettingsResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceSecuritySettingsResource"}}}}}}},"/api/sources/{sourceId}/security/filters/{id}":{"put":{"tags":["sources / security / row"],"summary":"Update forced filter, replacing it completely","operationId":"updateFilter","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ForcedFilterResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ForcedFilterResource"}}}}}},"delete":{"tags":["sources / security / row"],"summary":"Delete forced filter by id","operationId":"deleteFilter","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["sources / security / row"],"summary":"Update forced filter partially","operationId":"updateSourcePatch","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"object","additionalProperties":{}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ForcedFilterResource"}}}}}}},"/api/sources/{sourceId}/security/custom-metrics/{id}":{"put":{"tags":["sources / security / custom metrics"],"summary":"(experimental) Update custom metric security setting","operationId":"updateAttributeSettings","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceSecurityAttributeSettingResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceSecurityAttributeSettingResource"}}}}}},"delete":{"tags":["sources / security / custom metrics"],"summary":"(experimental) Delete custom metric security setting","operationId":"deleteAttributeSetting","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/sources/{sourceId}/security/attributes/{id}":{"put":{"tags":["sources / security / fields"],"summary":"Update SecurityAttributeSetting","operationId":"updateAttributeSettings_1","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceSecurityAttributeSettingResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceSecurityAttributeSettingResource"}}}}}},"delete":{"tags":["sources / security / fields"],"summary":"Delete SecurityAttributeSetting","operationId":"deleteAttributeSetting_1","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/sources/{sourceId}/security/fields/{id}":{"put":{"tags":["sources / security / fields"],"summary":"Update SecurityAttributeSetting","operationId":"updateAttributeSettings_2","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceSecurityAttributeSettingResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceSecurityAttributeSettingResource"}}}}}},"delete":{"tags":["sources / security / fields"],"summary":"Delete SecurityAttributeSetting","operationId":"deleteAttributeSetting_2","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/sources/{sourceId}/global-settings":{"get":{"tags":["sources / global-settings"],"summary":"Returns global settings for the data source","description":"Requires READ or DATA_ACCESS permission on the source","operationId":"findSourceGlobalSettings","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The global settings was returned successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceGlobalSettingsResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["sources / global-settings"],"summary":"Updates global settings for the data source","description":"Requires WRITE permission on the source","operationId":"updateSourceGlobalSettings","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceGlobalSettingsResource"}}},"required":true},"responses":{"200":{"description":"Global settings was updated successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceGlobalSettingsResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/sources/{sourceId}/fields":{"get":{"tags":["sources / fields"],"summary":"Returns a list of fields for the source","description":"Requires READ permission on the source","operationId":"list","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"maxResults","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0,"minimum":0}},{"name":"pageToken","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Fields were retrieved successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/PageResourceWithFieldResource"}}}},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["sources / fields"],"summary":"Updates a data source fields (requires WRITE permission to the source)","operationId":"update_4","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"suppressWarnings","in":"query","description":"The response to this API endpoint may return a validation error with a list of problems. Each problem has a level (ERROR, WARNING). Passing suppressWarnings=true will suppress all warnings and the request will succeed if there are no errors","required":false,"schema":{"type":"boolean","default":false}},{"name":"warningTags","in":"query","description":"If suppressWarning is true, then warning tags can be passed in this field. Any top level element(SOURCE/VISUAL/DASHBOARD) that may be impacted due to any WARNING will get these warning tags attached to them.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SourceFieldResource"}}}},"required":true},"responses":{"200":{"description":"The source fields were updated","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceFieldResource"}}}},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn’t found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"post":{"tags":["sources / fields"],"summary":"Creates a data source field","description":"Requires WRITE permission on the source or READ permission on the source and ROLE_EDIT_FORMULAS for derived field creation","operationId":"create","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"suppressWarnings","in":"query","description":"The response to this API endpoint may return a validation error with a list of problems. Each problem has a level (ERROR, WARNING). Passing suppressWarnings=true will suppress all warnings and the request will succeed if there are no errors","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceFieldResource"}}},"required":true},"responses":{"201":{"description":"The field was created","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceFieldResource"}}}},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/sources/{sourceId}/fields/{fieldName}":{"get":{"tags":["sources / fields"],"summary":"Returns a data source field by name","description":"Requires READ permission on the source","operationId":"get_2","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"fieldName","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"The field was retrieved","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceFieldResource"}}}},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source or field wasn’t found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["sources / fields"],"summary":"Updates or creates a data source field","description":"Requires WRITE permission on the source or READ permission on the source and ROLE_EDIT_FORMULAS for derived field editing","operationId":"update_5","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"fieldName","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"suppressWarnings","in":"query","description":"The response to this API endpoint may return a validation error with a list of problems. Each problem has a level (ERROR, WARNING). Passing suppressWarnings=true will suppress all warnings and the request will succeed if there are no errors","required":false,"schema":{"type":"boolean","default":false}},{"name":"warningTags","in":"query","description":"If suppressWarning is true, then warning tags can be passed in this field. Any top level element(SOURCE/VISUAL/DASHBOARD) that may be impacted due to any WARNING will get these warning tags attached to them.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceFieldResource"}}},"required":true},"responses":{"200":{"description":"The field was updated","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceFieldResource"}}}},"201":{"description":"The field was created","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceFieldResource"}}}},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source or field wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["sources / fields"],"summary":"Deletes a data source field by name","description":"Requires WRITE permission on the source","operationId":"delete_6","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"fieldName","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"suppressWarnings","in":"query","description":"The response to this API endpoint may return a validation error with a list of problems. Each problem has a level (ERROR, WARNING). Passing suppressWarnings=true will suppress all warnings and the request will succeed if there are no errors","required":false,"schema":{"type":"boolean","default":false}},{"name":"warningTags","in":"query","description":"If suppressWarning is true, then warning tags can be passed in this field. Any top level element(SOURCE/VISUAL/DASHBOARD) that may be impacted due to any WARNING will get these warning tags attached to them.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}],"responses":{"204":{"description":"The field was deleted"},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source or field wasn’t found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"patch":{"tags":["sources / fields"],"summary":"Updates data source field visibility","description":"Requires WRITE permission on the source or READ permission on the source and ROLE_EDIT_FORMULAS for derived field editing","operationId":"update_6","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"fieldName","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceFieldUpdateResource"}}},"required":true},"responses":{"200":{"description":"The field was updated","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceFieldResource"}}}},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source or field wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/sources/{sourceId}/dictionaries":{"get":{"tags":["sources / dictionaries"],"summary":"Returns a list of source dictionaries","operationId":"getDictionaries","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ListWrapperSourceDictionaryResource"}}}}}},"put":{"tags":["sources / dictionaries"],"summary":"Bulk create or update from file with replace all source dictionaries","operationId":"bulkSave","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SourceDictionaryResource"}}},"multipart/form-data":{"schema":{"type":"object","properties":{"fileData":{"type":"string","format":"binary","description":"File must have specific structure:\n\n``` \n\nField Label,languageLocaleId1,languageLocaleId2 \n\nfieldLabel1,labelTranslate1,labelTranslate2\n\n ```"}},"required":["fileData"]}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SourceDictionaryResource"}}}}}}},"delete":{"tags":["sources / dictionaries"],"summary":"Delete all source dictionaries","operationId":"delete_7","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No Content"}}}},"/api/sources/{sourceId}/dictionaries/{language}":{"get":{"tags":["sources / dictionaries"],"summary":"Read source dictionary by language","operationId":"findByLanguage","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"language","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceDictionaryResource"}}}}}},"put":{"tags":["sources / dictionaries"],"summary":"Create or update source dictionary by language","operationId":"save","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"language","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceDictionaryResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceDictionaryResource"}}}}}},"delete":{"tags":["sources / dictionaries"],"summary":"Delete source dictionary by language","operationId":"deleteByLanguage","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"language","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"No Content"}}}},"/api/sources/{sourceId}/custom-metrics/{customMetricName}":{"put":{"tags":["sources / custom-metrics"],"summary":"Updates existing custom metric or creates a new one if custom metric with {customMetricName} doesn't exist","description":"Requires WRITE permission on the source or READ permission on the source and ROLE_EDIT_FORMULAS","operationId":"update_7","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"customMetricName","in":"path","required":true,"schema":{"type":"string","maxLength":255,"minLength":0}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/CustomMetricResource"}}},"required":true},"responses":{"200":{"description":"The custom metric was updated","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/CustomMetricResource"}}}},"201":{"description":"The custom metric was created","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/CustomMetricResource"}}}},"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["sources / custom-metrics"],"summary":"Deletes a custom metric","description":"Requires WRITE permission on the source or READ permission on the source and ROLE_EDIT_FORMULAS","operationId":"delete_8","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"customMetricName","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"The custom metric was deleted"},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"patch":{"tags":["sources / custom-metrics"],"summary":"Updates custom metric visibility","description":"Requires WRITE permission on the source or READ permission on the source and ROLE_EDIT_FORMULAS","operationId":"update_8","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"customMetricName","in":"path","required":true,"schema":{"type":"string","maxLength":255,"minLength":0}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/CustomMetricUpdateResource"}}},"required":true},"responses":{"200":{"description":"The custom metric was updated","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/CustomMetricResource"}}}},"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source or custom metric wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/sources/{sourceId}/cache-settings":{"get":{"tags":["sources / cache-settings"],"summary":"Returns cache settings for the data source","description":"Requires READ permission on the source","operationId":"findSourceCacheSettings","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Cache settings was returned successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceCacheSettingsResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["sources / cache-settings"],"summary":"Updates cache settings for data source","description":"Requires WRITE permission on the source","operationId":"saveSourceCacheSettings","parameters":[{"name":"sourceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceCacheSettingsResource"}}},"required":true},"responses":{"200":{"description":"Cache settings was updated successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceCacheSettingsResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/sources/{sourceId}/acls/bulk":{"put":{"tags":["permissions"],"summary":"Assign permissions on the source to a list of Security Identities (groups, users, account)","operationId":"setPermissionsOnSource","parameters":[{"name":"sourceId","in":"path","description":"Source identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","description":"List of the permissions to be assigned","items":{"$ref":"#/components/schemas/PutAclPermissionRequest"}}}},"required":true},"responses":{"200":{"description":"The permissions were assigned successfully"},"400":{"description":"Request is invalid"},"401":{"description":"The user must be logged in"},"403":{"description":"The user doesn't have privilege to do the operation"},"404":{"description":"Source wasn't found"}}},"patch":{"tags":["permissions"],"summary":"Grant/revoke permissions on the source to/from a list of Security Identities (groups, users, account)","operationId":"updatePermissionsOnSource","parameters":[{"name":"sourceId","in":"path","description":"Source identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","description":"List of the permissions to be granted/revoked","items":{"$ref":"#/components/schemas/PatchAclPermissionRequest"}}}},"required":true},"responses":{"200":{"description":"The permissions were granted/revoked successfully"},"400":{"description":"Request is invalid"},"401":{"description":"The user must be logged in"},"403":{"description":"The user doesn't have privilege to do the operation"},"404":{"description":"Source wasn't found"}}}},"/api/snippets/{snippetId}":{"get":{"tags":["snippets"],"summary":"(experimental) Returns the snippet by ID","operationId":"get_3","parameters":[{"name":"snippetId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The snippet was retrieved successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SnippetResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The snippet wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["snippets"],"summary":"(experimental) Updates the snippet. Creates a new one if snippet with provided ID does not exist","operationId":"update_9","parameters":[{"name":"snippetId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SnippetResource"}}},"required":true},"responses":{"200":{"description":"The snippet was updated","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SnippetResource"}}}},"201":{"description":"The snippet was created","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SnippetResource"}}}},"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["snippets"],"summary":"(experimental) Deletes the snippet","operationId":"delete_9","parameters":[{"name":"snippetId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"The snippet was deleted successfully"},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The snippet wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/security/global":{"get":{"tags":["global"],"summary":"Get global security config","description":"Supervisor authority or role Administer Users is required to access this endpoint","operationId":"get_4","responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/GlobalSecurityConfigResource"}}}}}},"put":{"tags":["global"],"summary":"Update global security config","description":"Supervisor authority is required to access this endpoint","operationId":"update_10","requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/GlobalSecurityConfigResource"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/quota":{"put":{"tags":["quota"],"summary":"Update or create quota for an account","description":"Supervisor authority is required to access this endpoint","operationId":"upsertQuota","requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/QuotaResource"}}},"required":true},"responses":{"204":{"description":"No Content","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/QuotaResource"}}}}}}},"/api/materialized-views/{id}":{"get":{"tags":["materialized-view"],"summary":"(deprecated since 23.1)Get Materialized view by id.","operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/MaterializedViewResource"}}}}},"deprecated":true},"put":{"tags":["materialized-view"],"summary":"(deprecated since 23.1)Update Materialized view","operationId":"update_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/MaterializedViewInputResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/MaterializedViewResource"}}}}},"deprecated":true},"delete":{"tags":["materialized-view"],"summary":"(deprecated since 23.1)Delete Materialized view.","operationId":"delete_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"deprecated":true},"patch":{"tags":["materialized-view"],"summary":"(deprecated since 23.1)Update only specific properties (name, description, enabled) of a Materialized view.","operationId":"patch","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/MaterializedPatchResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/MaterializedViewResource"}}}}},"deprecated":true}},"/api/keysets/upload/{keySetId}":{"put":{"tags":["keyset"],"summary":"(experimental) Update keyset from uploaded data as CSV body. CSV should not contain header","operationId":"updateFromUpload","parameters":[{"name":"keySetId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"sourceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"keySetName","in":"query","required":true,"schema":{"type":"string"}},{"name":"keySetDescription","in":"query","required":false,"schema":{"type":"string","default":""}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"fileData":{"type":"string","format":"binary"}},"required":["fileData"]}}}},"responses":{"200":{"description":"The keyset was updated successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/KeySetResource"}}}},"400":{"description":"Validation failed: incorrect file type, malformed file content, etc","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/KeySetResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/KeySetResource"}}}},"403":{"description":"The user doesn't have a privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/KeySetResource"}}}},"404":{"description":"The keyset or source with the requested id does not exist","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/KeySetResource"}}}}}}},"/api/groups":{"get":{"tags":["groups"],"summary":"Returns a list of groups","operationId":"list_1","parameters":[{"name":"limit","in":"query","required":false,"deprecated":true,"schema":{"type":"integer","format":"int32","default":-1}},{"name":"offset","in":"query","required":false,"deprecated":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ListWrapperGroupResource"}}}}}},"put":{"tags":["groups"],"summary":"Update or create group","operationId":"updateGroup","requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/GroupAclResource"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"post":{"tags":["groups"],"summary":"Create group","operationId":"createGroup","requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/GroupAclResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/GroupAclResource"}}}}}}},"/api/filter-sets/{id}":{"get":{"tags":["filter-sets"],"summary":"Get filter","operationId":"get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/FilterSetResource"}}}}}},"put":{"tags":["filter-sets"],"summary":"Update filter","operationId":"update_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/FilterSetResource"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["filter-sets"],"summary":"Delete filter","operationId":"delete_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/dashboards/{id}":{"get":{"tags":["dashboards"],"summary":"Loads a dashboard (requires READ permission to the dashboard)","operationId":"get_7","parameters":[{"name":"id","in":"path","description":"Defines a dashboard identifier","required":true,"schema":{"type":"string"}},{"name":"interactivityProfile","in":"query","description":"(experimental) Dashboard interactivity profile name","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"The dashboard was retrieved successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The dashboard was not found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["dashboards"],"summary":"Updates a dashboard (requires WRITE permission to the dashboard) or creates a new dashboard with custom id (requires the ROLE_CREATE_DASHBOARDS privilege)","operationId":"update_13","parameters":[{"name":"id","in":"path","description":"Defines a dashboard identifier","required":true,"schema":{"type":"string"}},{"name":"suppressWarnings","in":"query","description":"The response to this API endpoint may return a validation error with a list of problems. Each problem has a level (ERROR, WARNING). Passing suppressWarnings=true will suppress all warnings and the request will succeed if there are no errors","required":false,"schema":{"type":"boolean","default":false}},{"name":"warningTags","in":"query","description":"If suppressWarning is true, then warning tags can be passed in this field. Any top level element(SOURCE/VISUAL/DASHBOARD) that may be impacted due to any WARNING will get these warning tags attached to them.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardResource"}}},"required":true},"responses":{"200":{"description":"The dashboard was updated successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardResource"}}}},"201":{"description":"The dashboard was created successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardResource"}}}},"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"One of the visuals was not found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["dashboards"],"summary":"Deletes a dashboard (requires DELETE permission to the dashboard)","operationId":"delete_12","parameters":[{"name":"id","in":"path","description":"Defines a dashboard identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The dashboard was deleted successfully"},"400":{"description":"The dashboard is linked to another dashboard","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to do the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The dashboard was not found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/dashboards/{dashboardId}/reports/{reportId}":{"get":{"tags":["dashboard-reports"],"summary":"Retrieve dashboard report settings by report ID","operationId":"findReportById","parameters":[{"name":"dashboardId","in":"path","description":"Dashboard ID","required":true,"schema":{"type":"string"}},{"name":"reportId","in":"path","description":"Report ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardReportResource"}}}}}},"put":{"tags":["dashboard-reports"],"summary":"Update dashboard report settings","operationId":"updateReport","parameters":[{"name":"dashboardId","in":"path","description":"Dashboard ID","required":true,"schema":{"type":"string"}},{"name":"reportId","in":"path","description":"Report ID","required":true,"schema":{"type":"string"}},{"name":"deliverNow","in":"query","description":"Deliver report immediately","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardReportResource"}}},"required":true},"responses":{"200":{"description":"The dashboard report was updated successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardReportResource"}}}},"400":{"description":"The request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["dashboard-reports"],"summary":"Delete dashboard report settings","operationId":"deleteReport","parameters":[{"name":"dashboardId","in":"path","description":"Dashboard ID","required":true,"schema":{"type":"string"}},{"name":"reportId","in":"path","description":"Report ID","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/dashboards/{dashboardId}/interactivity":{"get":{"tags":["interactivity"],"summary":"(experimental) Get related dashboard interactivity","operationId":"getProfileById","parameters":[{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardInteractivityProfileResource"}}}}}},"put":{"tags":["interactivity"],"summary":"(experimental) Create or update related dashboard interactivity","operationId":"createOrUpdateProfileForDashboard","parameters":[{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardInteractivityProfileResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardInteractivityProfileResource"}}}}}},"delete":{"tags":["interactivity"],"summary":"(experimental) Delete related dashboard interactivity","operationId":"deleteInteractivityForDashboard","parameters":[{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/dashboards/{dashboardId}/comments/{commentId}":{"get":{"tags":["comments"],"summary":"Get related dashboard comment","operationId":"getCommentById","parameters":[{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string"}},{"name":"commentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The comment was retrieved successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardCommentResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The dashboard or comment with the requested id does not exist","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["comments"],"summary":"Update related dashboard comment","operationId":"update_14","parameters":[{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string"}},{"name":"commentId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardCommentResource"}}},"required":true},"responses":{"200":{"description":"The comment was updated successfully","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/DashboardCommentResource"}}}},"400":{"description":"Comment resource can't be processed","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The dashboard or comment with the requested id does not exist","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["comments"],"summary":"Delete related dashboard comment","operationId":"delete_13","parameters":[{"name":"dashboardId","in":"path","required":true,"schema":{"type":"string"}},{"name":"commentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The comment was deleted successfully"},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The dashboard or comment does not exist","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/dashboards/{dashboardId}/acls/bulk":{"put":{"tags":["permissions"],"summary":"Assign permissions on the dashboard to a list of Security Identities (groups, users, account)","operationId":"setPermissionsOnDashboard","parameters":[{"name":"dashboardId","in":"path","description":"Dashboard identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","description":"List of the permissions to be assigned","items":{"$ref":"#/components/schemas/PutAclPermissionRequest"}}}},"required":true},"responses":{"200":{"description":"The permissions were assigned successfully"},"400":{"description":"Request is invalid"},"401":{"description":"The user must be logged in"},"403":{"description":"The user doesn't have privilege to do the operation"},"404":{"description":"Dashboard wasn't found"}}},"patch":{"tags":["permissions","dashboards"],"summary":"Grant/revoke permissions on the dashboard to/from a list of Security Identities (groups, users, account)","operationId":"updatePermissionsOnDashboard","parameters":[{"name":"dashboardId","in":"path","description":"Dashboard identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","description":"List of the permissions to be granted/revoked","items":{"$ref":"#/components/schemas/PatchAclPermissionRequest"}}}},"required":true},"responses":{"200":{"description":"The permissions were assigned successfully"},"400":{"description":"Request is invalid"},"401":{"description":"The user must be logged in"},"403":{"description":"The user doesn't have privilege to do the operation"},"404":{"description":"Dashboard wasn't found"}}}},"/api/customization/themes/{id}":{"get":{"tags":["customization"],"summary":"Read theme","operationId":"read_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"type":"string"}}}}}},"put":{"tags":["customization"],"summary":"Update theme","operationId":"update_15","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThemeResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ThemeResource"}}}}}},"delete":{"tags":["customization"],"summary":"Delete theme","operationId":"delete_14","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["customization"],"summary":"Patch theme","operationId":"patch_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThemeResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ThemeResource"}}}}}}},"/api/connectors/{id}":{"get":{"tags":["connectors"],"summary":"Retrieve a Connector with a specific id","description":"Supervisor authority is required to access this endpoint","operationId":"get_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectorResource"}}}}}},"put":{"tags":["connectors"],"summary":"Update a Connector with a specific id","description":"Supervisor authority is required to access this endpoint","operationId":"update_16","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectorResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectorResource"}}}}}},"delete":{"tags":["connectors"],"summary":"Delete a connector with a specific id","description":"Supervisor authority is required to access this endpoint","operationId":"delete_15","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/connections/{connectionId}":{"get":{"tags":["connections"],"summary":"Load connection","operationId":"getConnection","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"validate","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"suppressWarnings","in":"query","description":"The response to this API endpoint may return a validation error with a list of problems. Each problem has a level (ERROR, WARNING). Passing suppressWarnings=true will suppress all warnings and the request will succeed if there are no errors","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceConnectionResource"}}}}}},"put":{"tags":["connections"],"summary":"Update or create connection (requires the ROLE_MANAGE_CONNECTIONS privilege)","operationId":"createOrUpdateConnection","parameters":[{"name":"connectionId","in":"path","description":"Connection ID","required":true,"schema":{"type":"string"}},{"name":"connectionTypeMatchingStrategy","in":"query","description":"Specify strategy parameter to find connectionType matching by specific attributes","required":false,"schema":{"type":"string","default":"BY_ID","enum":["BY_ID","BY_TYPE_AND_PARAMETERS"]}},{"name":"suppressWarnings","in":"query","description":"The response to this API endpoint may return a validation error with a list of problems. Each problem has a level (ERROR, WARNING). Passing suppressWarnings=true will suppress all warnings and the request will succeed if there are no errors","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceConnectionResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/SourceConnectionResource"}}}}}},"delete":{"tags":["connections"],"summary":"Delete connection (requires the ROLE_MANAGE_CONNECTIONS privilege)","operationId":"deleteConnection","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/connections/{connectionId}/schema/{schemaName}/configuration":{"put":{"tags":["connections"],"summary":"Updates or creates a connection schema configuration","operationId":"createOrUpdateConnectionSchemaInfo","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"schemaName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectionSchemaInfoResource"}}},"required":true},"responses":{"200":{"description":"The connection schema configuration was updated","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectionSchemaInfoResource"}}}},"201":{"description":"The connection schema configuration was created","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectionSchemaInfoResource"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"Connection or upload wasn't found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectionSchemaInfoResource"}}}}}}},"/api/connection/types/{id}":{"get":{"tags":["connection-types"],"summary":"Retrieve specific Connection Type by Id","operationId":"get_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectionTypeResource"}}}}}},"put":{"tags":["connection-types"],"summary":"Update specific Connection Type by Id","description":"Supervisor authority is required to access this endpoint","operationId":"update_17","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectionTypeResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectionTypeResource"}}}}}},"delete":{"tags":["connection-types"],"summary":"Delete specific Connection Type by Id","description":"Supervisor authority is required to access this endpoint","operationId":"delete_16","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["connection-types"],"summary":"Update properties of a specific Connection Type by Id","description":"Supervisor authority is required to access this endpoint","operationId":"updateProperties","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ConnectionTypeResource"}}}}}}},"/api/connection/types/{id}/accounts":{"get":{"tags":["connection-types"],"summary":"Retrieve Connection Type accounts","description":"Supervisor authority is required to access this endpoint","operationId":"getAccounts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}}}}},"put":{"tags":["connection-types"],"summary":"Update Connection Type accounts. Empty list - available to all accounts","description":"Supervisor authority is required to access this endpoint","operationId":"setAccounts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}}}}}},"/api/calendars/{calendarId}":{"get":{"tags":["calendars"],"summary":"(experimental) Load calendar by its id","operationId":"get_10","parameters":[{"name":"calendarId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"The calendar was retrieved","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/CalendarResource"}}}},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"404":{"description":"The calendar wasn’t found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["calendars"],"summary":"(experimental) Update calendar","description":"Requires ADMINISTER_CALENDARS role","operationId":"update_18","parameters":[{"name":"calendarId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/CalendarResource"}}},"required":true},"responses":{"204":{"description":"The calendar was updated"},"400":{"description":"Request is invalid","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The calendar wasn’t found","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["calendars"],"summary":"(experimental) Delete calendar by id","description":"Requires ADMINISTER_CALENDARS role","operationId":"delete_17","parameters":[{"name":"calendarId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"204":{"description":"The calendar was deleted"},"400":{"description":"Request is invalid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"401":{"description":"The user must be logged in","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServletErrorMessage"}}}},"403":{"description":"The user doesn't have privilege to perform the operation","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The source or calendar wasn’t found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/branding":{"get":{"tags":["branding"],"summary":"Get branding configuration","operationId":"getBrandingConfig","responses":{"200":{"description":"OK","content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/BrandingResource"}}}}}},"put":{"tags":["branding"],"summary":"Update branding configuration","description":"Supervisor authority is required to access this endpoint","operationId":"updateBrandingPut","requestBody":{"content":{"application/vnd.composer.v3+json":{"schema":{"$ref":"#/components/schemas/BrandingResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandingResource"}}}}}},"post":{"tags":["branding"],"summary":"Update branding configuration","description":"Supervisor authority is required to access this endpoint","operationId":"updateBran
[...]
